<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>부산</key>
	<dict>
		<key>식당18</key>
		<array>
			<string>아침세트</string>
			<string>점심세트</string>
			<string>저녁세트</string>
		</array>
		<key>식당19</key>
		<array>
			<string>아메리카노</string>
			<string>라떼</string>
			<string>카푸치노</string>
		</array>
	</dict>
	<key>대전</key>
	<dict>
		<key>식당14</key>
		<array>
			<string>샌드위치</string>
		</array>
		<key>식당15</key>
		<array>
			<string>토스트</string>
		</array>
		<key>식당16</key>
		<array>
			<string>생과일주스</string>
			<string>커피</string>
		</array>
		<key>식당17</key>
		<array>
			<string>파스타</string>
			<string>피자</string>
		</array>
	</dict>
	<key>대구</key>
	<dict>
		<key>식당11</key>
		<array>
			<string>떡볶이</string>
			<string>김밥</string>
		</array>
		<key>식당12</key>
		<array>
			<string>정식</string>
		</array>
		<key>식당13</key>
		<array>
			<string>곰탕</string>
			<string>갈비탕</string>
		</array>
	</dict>
	<key>경기</key>
	<dict>
		<key>식당6</key>
		<array>
			<string>제육볶음</string>
			<string>두부샐러드</string>
		</array>
		<key>식당7</key>
		<array>
			<string>짜장면</string>
			<string>짬뽕</string>
		</array>
		<key>식당8</key>
		<array>
			<string>김치탕수육</string>
		</array>
		<key>식당9</key>
		<array>
			<string>갈비찜</string>
			<string>갈비탕</string>
		</array>
		<key>식당10</key>
		<array>
			<string>양푼비빔밥</string>
		</array>
	</dict>
	<key>서울</key>
	<dict>
		<key>식당1</key>
		<array>
			<string>해장국</string>
			<string>김치찜</string>
		</array>
		<key>식당2</key>
		<array>
			<string>갈비탕</string>
		</array>
		<key>식당3</key>
		<array>
			<string>정식</string>
			<string>고등어구이</string>
			<string>두부부침</string>
		</array>
		<key>식당4</key>
		<array>
			<string>김치볶음</string>
		</array>
		<key>식당5</key>
		<array>
			<string>곱창전골</string>
		</array>
	</dict>
</dict>
</plist>
